.Board .board {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50%;
    height: 500px;
    padding: 10px;
}
.Board .Cell {
    border: 1px solid red;
    background-color: rgb(236, 236, 236);
    
}

.Board .winner {
    display: flex;
    width: 150%;
    text-align: center;
    font-size: 70px;
}